<%= form_for(@character) do |f| %>
  <% if @character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
      <% @character.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :surname %><br>
    <%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label :pion %><br>
    <%= f.number_field :pion %>
  </div>
  <div class="field">
    <%= f.label :joined %><br>
    <%= f.date_select :joined %>
  </div>
  <div class="field">
    <%= f.label :town %><br>
    <%= f.text_field :town %>
  </div>
  <div class="field">
    <%= f.label :about %><br>
    <%= f.text_field :about %>
  </div>
  <div class="field">
    <%= f.label :hobbies %><br>
    <%= f.text_field :hobbies %>
  </div>
  <div class="field">
    <%= f.label :points_all %><br>
    <%= f.number_field :points_all %>
  </div>
  <div class="field">
    <%= f.label :points %><br>
    <%= f.number_field :points %>
  </div>
  <div class="field">
    <%= f.label :krzyz %><br>
    <%= f.check_box :krzyz %>
  </div>
  <div class="field">
    <%= f.label :naramiennik %><br>
    <%= f.check_box :naramiennik %>
  </div>
  <div class="field">
    <%= f.label :stop_instr %><br>
    <%= f.number_field :stop_instr %>
  </div>
  <div class="field">
    <%= f.label :stop_harc %><br>
    <%= f.number_field :stop_harc %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
