<h1>Listing characters</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Pion</th>
      <th>Joined</th>
      <th>Town</th>
      <th>About</th>
      <th>Hobbies</th>
      <th>Points all</th>
      <th>Points</th>
      <th>Krzyz</th>
      <th>Naramiennik</th>
      <th>Stop instr</th>
      <th>Stop harc</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @characters.each do |character| %>
      <tr>
        <td><%= character.user_id %></td>
        <td><%= character.name %></td>
        <td><%= character.surname %></td>
        <td><%= character.pion %></td>
        <td><%= character.joined %></td>
        <td><%= character.town %></td>
        <td><%= character.about %></td>
        <td><%= character.hobbies %></td>
        <td><%= character.points_all %></td>
        <td><%= character.points %></td>
        <td><%= character.krzyz %></td>
        <td><%= character.naramiennik %></td>
        <td><%= character.stop_instr %></td>
        <td><%= character.stop_harc %></td>
        <td><%= link_to 'Show', character %></td>
        <td><%= link_to 'Edit', edit_character_path(character) %></td>
        <td><%= link_to 'Destroy', character, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Character', new_character_path %>
