<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @character.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @character.surname %>
</p>

<p>
  <strong>Pion:</strong>
  <%= @character.pion %>
</p>

<p>
  <strong>Joined:</strong>
  <%= @character.joined %>
</p>

<p>
  <strong>Town:</strong>
  <%= @character.town %>
</p>

<p>
  <strong>About:</strong>
  <%= @character.about %>
</p>

<p>
  <strong>Hobbies:</strong>
  <%= @character.hobbies %>
</p>

<p>
  <strong>Points all:</strong>
  <%= @character.points_all %>
</p>

<p>
  <strong>Points:</strong>
  <%= @character.points %>
</p>

<p>
  <strong>Krzyz:</strong>
  <%= @character.krzyz %>
</p>

<p>
  <strong>Naramiennik:</strong>
  <%= @character.naramiennik %>
</p>

<p>
  <strong>Stop instr:</strong>
  <%= @character.stop_instr %>
</p>

<p>
  <strong>Stop harc:</strong>
  <%= @character.stop_harc %>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
