@import "bootstrap";

body {
  padding-top: 50px;
  /* Margin bottom by footer height */
  margin-bottom: 70px;
  color: black;
}

@media (min-width: 1200px) {
  .container {
    width: 960px;
  }
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}


html {
  position: relative;
  min-height: 100%;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  background-color: #58595b;
  color:white;
  .col-md-4{
  	text-align: center;
  	padding-top: 10px;
  }
}
