<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				Kontakt
			</div>
			<div class="col-md-4">
				Wsparcie
			</div>
			<div class="col-md-4">
				Społeczności
			</div>
		</div>
	</div>
</div>