<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Stella", root_path, class: "navbar-brand" %>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Contact", contact_path %></li>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Help", help_path %></li>
          </ul>
          <% if user_signed_in? %>
          <p class="navbar-text">
            Zalogowany jako 
            <%# current_user.email %>
            <%= logon_text %>
            <%# current_user.character.name %> <%# current_user.character.surname %> 
            <%= link_to "Wyloguj", sign_out_path, method: :delete %>
          </p>
          <% else %>
          <p class="navbar-text">
            <%= link_to "Zaloguj", sign_in_path %>
          </p>
          <% end %>
        </div><!--/.nav-collapse -->
      </div>
</div>