<!DOCTYPE html>
<html>
<head>
  <title>Stella</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render 'layouts/nav_bar' %>
    <div class="container">
    	<% #render 'layouts/header' %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>

    </div>
     <%= render 'layouts/footer' %>
</body>
</html>


